<html>
    <head>
        <title>Content extractor</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <style>
            body {
                padding: 20px;
            }
            label, input, select{
                margin: 5px 0;
                padding: 5px 10px;
            }
            form{
                font-size: 16px;
            }
        </style>
    </head>
    <body style="text-align:center;">
        <h1>Content extractor</h1>
        <p>
            You can extract the content of any article from the web. Just paste the URL of the article and submit the form.
        </p>
        <p>
            <b>Clean HTML</b> will return the content of the article with the HTML tags.<br>
            <b>Clean text</b> will return the content of the article without the HTML tags.<br>
            <b>JSON format</b> will give you the headings and the paragraphs within them.<br>
            <b>Links</b> will give you the links within the article.<br>
            <b>Full HTML</b> will give you the full HTML of the url.
        </p>
        <p>
            <u>Sometimes we have to use Chrome</u> to extract the content from websites that don't allow us to extract the content using some Javascript protection.<br>
            Chrome is used automatically when required, but you can also set to always use it manually. <b>Always use Chrome</b> takes more time.
        </p>
        <form method="get" action="/">

            <label>URL of the article:</label><br>
            <input style="width: 700px; max-width: 100%;" type="text" name="url"><br>
            
            <label>Output format:</label>
            <select name="format">
                <option value="html">Clean HTML</option>
                <option value="text">Text only</option>
                <option value="json">JSON format</option>
                <option value="links">Links</option>
                <option value="full_html">Full HTML</option>
            </select><br>

            <label>
                Shall we use Chrome?
            </label>
            <select name="chrome">
                <option value="no">If needed</option>
                <option value="yes">Always use chrome</option>
            </select><br>
            <label>
                Translate content?
            </label>

            <select name="translate">
                <option value="no">No</option>
                <option value="pt">Portuguese</option>
                <option value="en">English</option>
                <option value="es">Spanish</option>
            </select><br>
    
            <small>(only works in <i>Clean HTML</i> and <i>Text only</i>)</small><br><br>
            <input type="submit" value="Get content">
            <input type="reset" value="Reset form">
        </form>
        <p>
            You can find the source code of this project on <a href="https://github.com/yanmcs/content-extractor" target="_blank">Github</a>.
        </p>
    </body>
    </html>